body{
    font-family: Arial, Helvetica,sans-serif;
    background: black;
    color: azure;
}

nav{
    display: inline;
   background-color: rgb(255, 255, 255);
   padding: 20px;
   width: 100%;
}

nav ul{
    list-style: none;
}

#baner{
    width: 100%;
    height: auto;
}
#slogan{
    text-align: center;
    color: white;
}