div#div1{
    position: static;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
}

div#div2{
    position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 1000px;
    top: 500px;
}
div#div3{
    position: fixed;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    right: 150px;
    top: 200px;
}
#parent{
        position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px; 
}
#chid{
  position: absolute;
    border: 3px solid black;
    width: 100px;
    height: 100px;
    right: 100px;
    top: 100px;
}
#horizontal ul{
    list-style-type: none;
    background-color: black;
    margin-bottom: 100px;
    padding: 20px;
    overflow: hidden;
}

#horizontal ul li{
 float: left;
}
#horizontal ul li a{
  color: white;
  padding: 50px;
}
#horizontal ul li a:hover{
    background-color: rgb(29, 27, 27);
} 
#vertikal ul{
    list-style-type: none;
    background-color: black;
    margin-bottom: 100px;
    padding: 20px;
    overflow: hidden;
}

#vertikal ul li a{
  color: white;
  padding: 20px;
}
#vertikal ul li a:hover{
    background-color: rgb(29, 27, 27);
}
#dropdown{
    overflow: hidden;
    background-color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

#dropdown a{
    float: left;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#nav-dropdown{
    float: left;
    overflow: hidden;
}

#dropdownbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    background-color: inherit;
    font: inherit;


}

#dropdown a:hover, #nav-dropdown:hover{
    background-color: rgb(123, 88, 156);
}
#dropdown-content{
    display: none;
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    box-shadow: 10px black;
}

#column{
    float: left;
    width: 50%;
    padding: 10px;
    background-color: rgb(248, 249, 250);
    height: 250px;

}
#column a{
    float: none;
    color: aliceblue;
    padding: 15px;
    text-decoration: none;
    text-align: left;
    display: block;
}
#nav-dropdown:hover #dropdown-content{
    display: block;
}

#row::after{
    display: table;
}