div#div1{
    position: static;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
}

div#div2{
    position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 1000px;
    top: 500px;
}
div#div3{
    position: fixed;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    right: 150px;
    top: 200px;
}
#parent{
        position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px; 
}
#chid{
  position: absolute;
    border: 3px solid black;
    width: 100px;
    height: 100px;
    right: 100px;
    top: 100px;
}
#horizontal ul{
    list-style-type: none;
    background-color: black;
    margin-bottom: 100px;
    padding: 20px;
    overflow: hidden;
}

#horizontal ul li{
 float: left;
}
#horizontal ul li a{
  color: white;
  padding: 50px;
}
#horizontal ul li a:hover{
    background-color: rgb(29, 27, 27);
} 
#vertikal ul{
    list-style-type: none;
    background-color: black;
    margin-bottom: 100px;
    padding: 20px;
    overflow: hidden;
}

#vertikal ul li a{
  color: white;
  padding: 20px;
}
#vertikal ul li a:hover{
    background-color: rgb(29, 27, 27);
} 