div#div1{
    position: sticky;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
}

div#div2{
    position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 1000px;
    top: 500px;
}
div#div3{
    position: fixed;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    right: 150px;
    top: 200px;
}